
.navbar-brand img{
    display: block;
    width: 70px;
    
}
.card span{
    display: block;
}
footer{
    background-color: #efefef;
    padding-top: 30px;
}



@media( max-width:767px){
    h2{
        font-size: 20px;
    }
}